<h2> Create a new listing </h2>

<%= form_for :listing, url: listings_path method: :post do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>

 <div>
    <%= f.label :price %>
    <%= f.text_field :price%>
</div>

<p>
    <%= f.submit "Create Listing" %>
</p>
<% end %>