<table class="table table-striped table-bordered">
  <tr>
    <th>Image</th>
    <th>Name</th> 
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

    <% @listings.each do |listing| %>
        <tr>
            <td> <%= image_tag listing.thumbnail %></td>
            <td> <%= listing.name %></td>
            <td> <%= listing.description %></td>
            <td> <%= number_to_currency(listing.price) %></td>
            <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><%= link_to "View", listing, class: "btn btn-link" %> </li>
                    <li><%= link_to "Edit", edit_listing_path(listing), class: "btn btn-link" %></li>
                    <li><%= link_to 'Destroy', listing, class: "btn btn-link"%> </li>
                </div>
            </div>
            </td>
        </tr>
    <% end %>
<table>
    

  <% if user_signed_in? %>
    <%= link_to 'New Listing', new_listing_path, class: "btn btn-dark" %> <!---Only signed in users can see link to post a new listing-->
  <% end %>
