<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= link_to image_tag(@listing.medium) %>
    </div> <!-- close thumbnail-->
  </div>
  <div class="col-md-6">
    <h3> <%= @listing.name %> </h3>
    <p> <%= number_to_currency(@listing.price) %> </p>
    <p><%= @listing.description %> </p>
    <br>
      <div class="center">
    <%= link_to "Buy It now", new_listing_order_path(@listing), class: "btn btn-primary" %> <!-- shortcut to tell rails to use id of current listing-->
      </div> <!-- close center !-->
  </div>
</div>


<!-- if current user is the same person that created the listing than show the edit link, else just show back-->
<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>